# pandas - "A melhor biblioteca do Python para Dados"

- Quase sempre que você for trabalhar com dados no Python você vai usar o pandas, então é importante você saber trabalhar com essa biblioteca muito bem

- Vamos aprender os principais comandos e os princípios básicos do pandas

- Faça o download do Gabarito desse arquivo e use como uma cartilha de consulta (Link na descrição)

### Importando o pandas

In [3]:
import pandas as pd

### Criando um dataframe a partir de um dicionário

In [4]:
# dataframe = pd.DataFrame()
venda = {'data': ['15/02/2021', '16/02/2021'],
         'valor': [500, 300],
         'produto': ['feijao', 'arroz'],
         'qtde': [50, 70],
        }
#df é a abreviação do dataframe df
vendas_df = pd.DataFrame(venda)

### Visualização dos Dados
    - print
    - display

In [6]:
display(vendas_df)

         data  valor produto  qtde
0  15/02/2021    500  feijao    50
1  16/02/2021    300   arroz    70

### Importando arquivos e bases de dados

In [44]:
vendas_df = pd.read_excel("vendas.xlsx")
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### Resumos de Visualização de Dados simples e úteis
    - head
    - shape
    - describe

In [21]:
display(vendas_df.head(10)) # posso ver quantas tabelas for necessaria atraves do indice dentro do head
print(vendas_df.shape)# quantidade de linha e coluna de forma muito mais rapida do que o display
display(vendas_df.describe()) #faz a resumo de todos os valores numericos

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

(93910, 7)

       Código Venda    Quantidade  Valor Unitário   Valor Final
count  93910.000000  93910.000000    93910.000000  93910.000000
mean   32464.762155      2.166553      191.725886    414.862656
std    18809.007093      1.258732      145.215519    434.846228
min        1.000000      1.000000       30.000000     30.000000
25%    16204.000000      1.000000      100.000000    156.000000
50%    32367.000000      2.000000      155.000000    274.000000
75%    48793.750000      3.000000      248.000000    524.000000
max    65014.000000      5.000000      750.000000   3750.000000

### Pegar 1 coluna (e os pd.Series)

In [20]:
produtos = vendas_df[['Produto', 'ID Loja', 'Valor Unitário']]
display(produtos)

                 Produto              ID Loja  Valor Unitário
0         Sapato Estampa   Iguatemi Esplanada             358
1               Camiseta   Iguatemi Esplanada             180
2          Sapato Xadrez   Iguatemi Esplanada             368
3                Relógio       Norte Shopping             200
4           Chinelo Liso       Norte Shopping              71
...                  ...                  ...             ...
93905     Mochila Xadrez  Shopping Vila Velha             283
93906  Pulseira Listrado    Ribeirão Shopping              79
93907     Cueca Listrado    Ribeirão Shopping              67
93908     Pulseira Linho     Shopping Morumbi             114
93909      Casaco Xadrez     Shopping Morumbi             259

[93910 rows x 3 columns]

### .loc, um método muito importante
    - Pegar 1 linha
    - Pegar linhas de acordo com alguma condição
    - Pegar linhas e colunas específicas
    - Pegar 1 valor específico

In [33]:
# pegar uma linha
display(vendas_df.loc[1:5]) #ver todos os dados da coluna 1 ate a 5

#pegar linhas que correspondem a uma condição
vendas_df['ID Loja'] == 'Norte Shopping'

display(vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping'])

#posso armazenar os dados tambem
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping']

#pegar varias linhas e colunas usando o loc
vendas_norteshopping_df = vendas_df.loc[vendas_df['ID Loja'] == 'Norte Shopping', ["ID Loja", "Produto", "Quantidade"]]
display(vendas_norteshopping_df)

# pegar 1 valor especifico
print(vendas_df.loc[3, 'Produto'])

Relógio

### Adicionar 1 coluna

In [53]:
# a partir de uma coluna que existe
vendas_df['Comissão'] = vendas_df['Valor Final'] * 0.5 #VEZES O VALOR FINAL
#display(vendas_df)

#essa forma é menos custoza 
#criando uma coluna com valor padrão
vendas_df.loc[:, "Imposto"] = 0 # : esse sinal o pandas entende como todas as linhas ou seja todas teram o valor 0
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,179.0,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,180.0,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,184.0,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,300.0,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,35.5,0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,102.0,0
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,540.0,0
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,43.5,0
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,54.0,0
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,133.0,0

### Adicionar 1 linha
    - Linhas de um complemento da base de dados

In [54]:
vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")
#display(vendas_dez_df)

vendas_df = vendas_df.append(vendas_dez_df)
display(vendas_df)

C:\Users\wesle\AppData\Local\Temp\ipykernel_23224\3785904506.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  vendas_df = vendas_df.append(vendas_dez_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,179.0,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,180.0,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,184.0,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,300.0,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,35.5,0.0
...,...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

### Excluir linhas e colunas

In [55]:
vendas_df = vendas_df.drop("Imposto", axis=1)
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissão
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,179.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,180.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,184.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,300.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,35.5
...,...,...,...,...,...,...,...,...
7084,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
7085,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
7086,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
7087,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
7088,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

### Valores Vazios
    - Deletar linhas/colunas vazias
    - Deletar linhas que possuem valores vazios
    - Preencher valores vazios (média e último valor)

In [ ]:
# deletarlinhas e colunas completamente vazias
vendas_df = vendas_df.drona(how='all')

### Calcular Indicadores
    - Groupby
    - Value Counts

### Mesclar 2 dataframes (Procurar informações de um dataframe em outro)

### Como continuar aprendendo?

### Minicurso Gratuito de Análise de Dados com Python na Descrição