In [1]:
import pandas as pd

In [7]:
vendas_df = pd.read_excel("Vendas.xlsx")
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

In [8]:
display(vendas_df.head(5))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71

In [12]:
vendas_df.loc[:, Imposto] =

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,0

In [15]:
vendas_df['Quantidade'] * vendas_df['Imposto']
display(vendas_df)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,0
...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,0

In [17]:
df = vendas_df
display(df.head(5))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,0

In [19]:
df['valor total'] = df['Quantidade']+df['Valor Final'] # somar duas colunas e fazer uma lista com os valores
display(df.head(10))

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Imposto,valor total
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,0,359
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,0,362
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,0,369
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,0,603
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,0,72
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,0,249
6,5,2019-01-02,Shopping Barra,Calça,1,170,170,0,171
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596,0,600
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116,0,117
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105,0,106